<form class='form-control'>
    <label>username: </label>
    <input id='input-username' type="text" >
    <br>
    <label>password: </label>   
    <input id='input-password' type="password" >
    <br>
    <button id="login-user" class='btn btn-primary'>Login</button>
    <button id="register-user" class="btn btn-primary">Register</button>
</form>