

{{#result}}
<div    class='alert-success'>
    <h2>{{username}}' materials</h2>
</div>


    {{#userMaterials}}
        <p>title: {{title}}</p>
        <p>category: <strong>{{category}}</strong></p>
        <hr>
    {{/userMaterials}}
{{/result}}